@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* VARIABLES */
  --max-content-width: 1200px;
}
.pause {
  animation-play-state: paused;
}
.sharedGrid {
  grid-template-columns: 500px 1fr;
}
.secondGrid {
  grid-template-columns: 1fr 500px;
}
.erpGrid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.feature-card {
  transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.8;
}

.feature-card.hovered {
  opacity: 1;
}
.advantagesCardGrid {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
