@import url("@aymen_diva/diva-shared-navbar/dist/index.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* VARIABLES */
  --max-content-width: 1200px;
}
.pause {
  animation-play-state: paused;
}

.erpGrid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.feature-card {
  transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.8;
}

.feature-card.hovered {
  opacity: 1;
}
.advantagesCardGrid {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.custom-heading {
  @apply text-4xl leading-tight text-left lg:text-6xl;
}
.custom-description {
  @apply text-sm font-light text-gray-800 dark:text-white;
}
@layer utilities {
  .font-base {
    @apply font-normal; /* Or any font style you need */
  }
}
.page-description {
  @apply lg:w-3/5 font-base;
}
