@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* VARIABLES */
  --max-content-width: 1200px;
}
.pause {
  animation-play-state: paused;
}
.sharedGrid {
  grid-template-columns: 500px 1fr;
}
.secondGrid {
  grid-template-columns: 1fr 500px;
}
